body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
    background-color: #DFF2FF;
}

img {
    width: 400;
    height: auto;
}

h1,
h3 {
    font-weight: bold;
    font-size: 20px;
    background-color: #9EC2FF;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 2px;
    border: #6879D0 solid 4px;
}

body.home div {
    color: black;
    margin-bottom: 10px;
}

button {
    display: block;
    width: 400px;
    margin: 5px auto;
    background-color: white;
    color: #6879D0;
}

.header {
    font-size: 40px;
}

ul.ingredients li {
    font-weight: 100;
    font-size: 13px;
}

ol li {
    font-size: 15px;
}