body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    box-sizing: border-box;
}

img {
    width: 400;
    height: auto;
}

h1,
h3 {
    font-weight: bold;
    font-size: 20px;
    background-color: lightskyblue;
    color: black;
    text-align: center;
}

body.home div {
    color: black;
}

.header {
    font-size: 40px;
}

ul.ingredients li {
    font-weight: 100;
    font-size: 13px;
}

ol li {
    font-size: 15px;
}